# .gitignore

# PyCharm 설정 파일 무시
.idea/

# 가상환경 폴더 무시
venv/
.venv/

# 대용량 데이터셋 (AWS에서 직접 다운로드)
data/

# 모델 가중치 파일 (AWS에서 직접 다운로드)
weights/
*.pt
*.pth
*.onnx

# 파이썬 캐시 파편
__pycache__/
*.pyc

# 실험 결과 데이터 저장 폴더
results/